@media (max-width: 480px) {
  /* Deixar os cads em coluna */
    .todo_apre{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .apre_prod div{
        align-items: center;
        width: 225px;
        height: 250px;
        margin-right: 100px;
        
      
        
    }

   
    


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url(/img/pexels-jatuphon-buraphon-110709-348689.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    background-color: rgba(43, 101, 57, 0.715);
    display: flex;
    height: 150px;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    
}

.cabecalho{
    display: flex;
    margin-left: 50px;

}

.titulo{
    color: chartreuse;
    font-size: 35px;
    cursor: pointer;
   
}



.titulo span{
    color: chocolate;
}

.cabecalho nav{
    position: relative;
    left: 300px;
   
    
}


.cabecalho nav ul{
    display: flex;
    
}

.cabecalho nav li{
    margin-right: 30px;
    list-style-type: none;
   
}

.cabecalho a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
}

.cabecalho li:hover{
    transform: translateY(-5px);
    transition: all 0,02s;
    
}


.todo_apre{
    display: flex;
    justify-content: space-around;
}

.apre_prod div{
    width: 450px;
    height: 550px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(43, 80, 4, 0.882);
    box-shadow: 3px 6px 6px rgba(0, 128, 0, 0.453);
    gap: 10px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    
}

.apre_prod div:hover{
    transform: translateY(-5px);
    transition: all 0,02s;
    box-shadow: 6px 6px 4px rgb(11, 20, 11);
    background-color: rgba(0, 0, 0, 0.538);
}

.apre_prod h2{
    color: white;
    margin-bottom: 15px;
}

.apre_prod div img{
    width: 300px;
    height: 300px;
}

.apre_prod div img{
    transition: transform 0.5s ease;
}

.apre_prod div img:hover{
    transform: rotate(6deg)
}

.apre_prod div p {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.butao_quero{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
   
}

.butao_quero button{
    font-size: 18px;
    color: white;
    border-radius: 20PX;
    border: none;
    background: orangered;
    width: 300px;
    height: 50px;
}

.butao_quero button:hover{
    transform: translateY(-5px);
    transition: all 0.02s;
    background-color: rgb(147, 43, 6);
    border: 1px solid rgb(205, 114, 81);
}

.explica_texto_geral{
    display: flex;
    justify-content: center;
}


.texto_expli{
   
    background-color: rgba(49, 51, 46, 0.673);
    margin-top: 200px;
    text-align: center;
    width: 70%;
}

.texto_expli h2{
    margin: 30px;
    color: white;
}

.texto_expli p{
    color: white;
    padding: 50px;
    font-size: 20px;
    text-align: left;
    
    
}

.vantagens_franqui{
    color: white;
    text-align: left;
    padding: 50px;
}

.vantagens_franqui:hover{
    color: black;
}



.vantagens_franqui a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.vantagens_franqui a:hover{
    color: black;
}

#cadastro{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    margin-bottom: 50px;
    
    
    

}

.forms-cadst{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#forms_cadastro{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 600px;
    gap: 15px;
}

#forms_cadastro input{
    height: 30px;
    border-radius: 20px;
    border: none;
   

}

#butao_cadastro{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: orangered;
    font-size: 18px;
    color: white;
    position: relative;
    left: 200px;

}

#butao_cadastro:hover{
    transform: translateY(-5px);
    transition: all 0.02s;
    background-color: rgb(147, 43, 6);
    border: 1px solid rgb(205, 114, 81);
}


.texto_final{
    padding-top: 90px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_final section{
    text-align: center;
}

.texto_final h2{
    font-size: 45px;
}

.texto_final h3{
    font-size: 21px;
}



#footer{
    height: 200px;
    background-color: rgba(43, 101, 57, 0.819) ;
    
}

.footer_final{
    display: flex;
   justify-content: space-around;
   padding-top: 80px;
    
}

.enderece_tel ul{
    list-style-type: none;
}

.enderece_tel ul li a{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.766);
    text-decoration: none;
}





.what_icone{
    width: 60px;
    border-radius: 1950px;
    gap: 20px;
}



